- name: Build frontend
  run: pnpm build

- name: Package dist
  run: |
    rm -f openlist-frontend-dist.tar.gz
    tar -czf openlist-frontend-dist.tar.gz dist
    mkdir -p release
    mv openlist-frontend-dist.tar.gz release/

- name: Build lite frontend
  run: pnpm build:lite

- name: Package lite dist
  run: |
    rm -f openlist-frontend-dist-lite.tar.gz
    tar -czf openlist-frontend-dist-lite.tar.gz dist
    mkdir -p lite-release
    mv openlist-frontend-dist-lite.tar.gz lite-release/

- name: Upload artifacts
  uses: actions/upload-artifact@v4
  with:
    name: openlist-frontend-${{ inputs.version }}
    path: |
      release/openlist-frontend-dist.tar.gz
      lite-release/openlist-frontend-dist-lite.tar.gz
